*.class
*.log

# Package Files #
*.jar
*.war
*.ear

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
*.iml

hs_err_pid*
nb-configuration.xml
/*/target/
/*/.settings/
/*/.classpath
/*/target/
.project
.classpath
.settings
*/logs/